<div class="container">
	<div class="center"><img src="assets/eleve.png"><br>Illustration 8: Menu Élèves</div>

<p>Comme pour les menus précédents, le menu de l’administrateur possède des fonctionnalités d’importation en masse pour les élèves et les inscriptions.
La dernière option permet de créer les comptes élèves et d’inscrire les élèves avec un seul fichier.
Le sens des champs de chaque fichier CSV est intuitifs à saisir.
Il est de toute façon recommandé de prendre comme exemple les fichiers utilisés lors des inscriptions d’octobre et février et de tester par soi-même.
</p>

</div>


