<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center light-blue-text lighten-1">{{title}}</h1>
      <div class="row center">
        <h5 class="header col s12 light">Et découvrez l'administration du cours en ligne !</h5>
      </div>
      <div class="row center">
        <a (click)="openNav()" id="download-button" class="btn-large waves-effect waves-light orange">Commencer</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Objet du document</h5>

            <p class="light">Ce document a pour objet de fournir un support dans l’administration de la plateforme de cours en ligne de l’Institut Français de Madrid (IFM).</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Pour l'administrateur</h5>

            <p class="light">Il retrace les différentes activités du Volontaire International (V.I) sur ce sujet.
Ce document se base sur les informations contenues dans la version 3 du guide du gestionnaire et ne souligne donc que les spécificités supplémentaires de l’administrateur. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">En +</h5>

            <p class="light">Il est aussi conseillé de voir les cahiers des charges disponibles au sein du dossier SRM pour connaître plus en détail les dernières fonctionnalités ajoutées.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>